<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>4D-Matrix</title>

        <!-- vendors -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- scripts -->
        <script src="app/config/app.config.js"></script>
        <script src="app/matrix/matrix.config.js"></script>
        <script src="app/matrix/matrix.controller.js"></script>

        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="app/matrix/matrix.style.css"/>
    </head>
    <body ng-app="4d-matrix">
        <section class="container-fluid" ng-controller="matrixController as matrix">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>4D-Matrix</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 task-form">
                            <form>
                                <label>Task: </label>
                                <input type="text" name="task" ng-model="matrix.newTask"/>
                                <select ng-model="matrix.category">
                                    <option value="">Choose</option>
                                    <option value="do">Urgent - Important</option>
                                    <option value="delegate">Urgent - Not important</option>
                                    <option value="decide">Not urgent - Important</option>
                                    <option value="delete">Not urgent - Not important</option>
                                </select>
                                <button ng-click="matrix.addTask()">Add task</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 delegate">
                            <h2>Delegate</h2>
                            <ul>
                                <li class="task" ng-repeat="doTask in matrix.delegateList track by $index">{{doTask}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 do">
                            <h2>Do</h2>
                            <ul>
                                <li class="task" ng-repeat="doTask in matrix.doList track by $index">{{doTask}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 delete">
                            <h2>Delete</h2>
                            <ul>
                                <li class="task" ng-repeat="doTask in matrix.deleteList track by $index">{{doTask}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 decide">
                            <h2>Decide</h2>
                            <ul>
                                <li class="task" ng-repeat="doTask in matrix.decideList track by $index">{{doTask}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>